.home--footer
  .home--footer__box
    %h1
      Presents　by　AREYY
    %h1
      Welcome  to AREYY   Plese come again
  .home--footer__sns
    = icon'fab','twitter',class:'t-icon'
    = icon'fab','facebook-square',class:'f-icon'
    = icon'fab','instagram',class:'i-icon'