.header
  .header--box
    %h1
      =link_to "AREYY", root_path ,class:'top'
    %ul
      - if user_signed_in?
        = link_to "log out", destroy_user_session_path, method: :delete, class: "out__btn"
        = link_to "profile", user_path(current_user.id), class:"profile" 
      - else
        = link_to "log in", new_user_session_path, class: "in__btn"
        = link_to "sign up", new_user_registration_path, class: "new__menber"
