= render 'home/header'
.pice
  .pice__box
  - @piercing.each do |piercing|
    .pice__box--list
      .pice__box--list--img
        = link_to image_tag(src= "ring.jpeg", class: "pice__box--list--img"), piercing_path(piercing.id)
      .pice__box--list--date--show
        = link_to "Details", piercing_path(piercing.id), class:'piercing-show'
= render 'home/footer'